body {
    background-image: url(../images/blue-crystals-explosions-1920x1080-109134.jpg);
}
*{
    box-sizing: inherit;
}
div{
    
    margin: 10px;
    padding: 10px;
}

h1,h3,span{
    font-weight: bold;
    text-align: center;
}

h1{
    font-size: 30px;

}

.header{
    width: 43%;
    background-color: #ffffff;
    margin: auto;
    
}
.card-header{
    text-align: center;
    font-weight: bolder;
}

#randomNumber{
    font-weight: bold;
    font-size: 30px;
    color: red;
}

.gem{
    background-color: #e0e0eb;
   
}

.numberToMatch{
    
    width: 18%;
    height: 60px;
    
}

.winAndLosses{
  
    width: 15%;
    height: 60px;
    
}

.userTotal{
    width: 15%;
    height: 60px;
    
}

#gameStatus{
    font-weight: bold;
    font-size: 30px;
}

#blueGem{
   
    height:60px;
    margin:10px;
}

#greenGem{
    
    height:60px;
    margin:10px;
}

#redGem{
    
    height:60px;
    margin:10px;
}

#yellowGem{
   
    height:60px;
    margin:10px;

}

#finalTotal,#numberLosses,#numberWins{
    color: blue;
}

